p {
    font-weight: bold;
}

h1 {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    margin: 3px;
}

div {
    background-color: antiquewhite;
}